library(ggplot2)
library(tm)
library(NLP)
library(wordcloud)
library(RColorBrewer)
library(syuzhet)
texts <- readLines("C:/Users/Ganesh/Desktop/R Exercise/dataset/war_and_peace.txt")
docs <- Corpus(VectorSource(text))
trans <- content_transformer(function(x,pattern) gsub(pattern," ",x))
docs <- tm_map(docs,trans,"/")
docs <- tm_map(docs,trans,"@")
docs <- tm_map(docs,trans,"\\|")
docs <- tm_map(docs,content_transformer(tolower))
docs <- tm_map(docs,removeNumbers)
docs <- tm_map(docs,removeWords,stopwords("english"))
docs <- tm_map(docs,removePunctuation)
docs <- tm_map(docs,stemDocument)
docs <- tm_map(docs,stripWhitespace)

dtm <- TermDocumentMatrix(docs)
mat <- as.matrix(dtm)
v <- sort(rowSums(mat),decreasing = TRUE)
d <- data.frame(word = names(v),freq=v)
head(d,10)

set.seed(10000)
wordcloud(words = d$word,freq = d$freq,min.freq = 1,
max.words = 200,random.order = FALSE,rot.per = 0.5,
colors=brewer.pal(8,"Dark2"))

Sentiment <- get_nrc_sentiment(texts)
wordcloud(words = d$word,freq = d$freq,min.freq = 1,
max.words = 200,random.order = FALSE,rot.per = 0.5,
colors=brewer.pal(8,"Dark2"))

ggplot(data = TotalSentiment,aes(x=sentiment,y=count))+
geom_bar(aes(fill=sentiment),stat = "identity")+theme(legend.position = "none")+
xlab("Sentiment")+ylab("Total Count")+ggtitle("Total Sentiment Score")
